article {
  margin: 5px 80px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.icon-1,
.icon-2 {
  height: 20px;
  width: 20px;
  display: flex;
}
.microsoft {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #495057;
}
.microsoft-1 {
  display: flex;
  gap: 5px;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
ul a:link {
  text-decoration: none;
}
.header-list:hover,
.header-list:active {
  border-bottom: 2px solid black;
}

.header-list {
  color: #495057;
}

.container {
  background-image: url("img/slide1.png");
  background-size: contain;
  background-position: center center;
  height: 480px;
  position: relative;
}
.content-wrapper {
  width: 100%;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -20%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-1 {
  display: grid;
  grid-template-columns: 120px 400px;
  column-gap: 5px;
  align-items: center;
}
.container-2 {
  display: flex;
  gap: 20px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-icon {
  height: 20px;
  width: 20px;
  color: white;
}
.inner-button-div {
  display: flex;
  align-items: center;
}
button p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  color: white;
}
button {
  background-color: black;
  border: none;
}
button:hover,
button:active {
  background-color: gray;
}

/* .button-nav {
} */

.text-wrapper h4 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.text-wrapper p {
  font-size: 20px;
  /* text-align: center; */
}
/*FOR OVERFLOW TEXT*/
/* .content-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.content-wrapper img {
  width: 100%;
}

.text-wrapper {
  width: 70%;
  position: absolute;
  top: 80%;

  text-align: center;
}
.text-wrapper h4 {
  text-align: center;
} */

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 30px;
}
.learn-more {
  font-weight: 600;
  letter-spacing: 1px;
}

.xbox {
  background-image: url(img/animation.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
}
.xbox-container {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 25%;
}
.xbox h3 {
  font-size: 25px;
  font-weight: 700;
}
.section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin-top: 30px;
}
.nature {
  height: 400px;
  position: relative;
  background-image: url(img/carbon.jpg);
  background-size: cover;
  background-position: center center;
}

.nature-content {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 5%;
  color: white;
}

.nature-content h3 {
  font-size: 25px;
}

.nature-content p {
  font-size: 17px;
}
.nature-content button {
  background-color: white;
}
.nature-content button p {
  color: black;
}
.nature-content .button-icon {
  color: black;
}

aside {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
aside p {
  font-size: 20px;
}
.aside-icon {
  height: 35px;
  width: 35px;
}

.facebook {
  color: #1864ab;
}
.twitter {
  color: #364fc7;
}
.likedin {
  color: rgba(0, 0, 255, 0.856);
}
/*.mox__wrapper {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 20px;
  
  background-image: url("./img/pic-1.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
}
 .mox__btn_content_wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.mox__content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mox__content_wrapper button {
  max-width: 100px;
} */
